.order-view {
    display: flex;
    width: 100%;
    font-weight: 500;
    text-align: left;
    border: none;
    color: white;
    --bs-list-group-bg: #2D2E2F;
    border-bottom: 1px solid #181818 !important;
}
.order-view:hover {
    --bs-list-group-bg: #2D2E2F;
}
.order-view-info {
    display: inline-block;
}
.order-view-title {
    color: #929ba8;
    font-size: 0.75rem;
    margin-bottom: .25rem!important;
}
.order-view-text {
    color: #929ba8;
    font-size: 0.75rem;
    margin-bottom: .25rem!important;
}
.p2p-deals-btn {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 20%;
    background-color: #2EA6A6FF;
    font-weight: 600;
    border: none;
    display: flex;
    float: right!important;
}
.p2p-deals-btn-muted:disabled {
    background-color: black;
}
.order-view-owner-info {
    position: relative;
    display: block;
}
.order-view-deal-info {
    position: relative;
    display: block;
}