.modal-body {
    padding: 25px 25px 25px 25px!important;
}
.change-password-fields {
    border-radius: 5px!important;
}
.password-container{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}
.password-container input[type="password"],
.password-container input[type="text"]{
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
}
.eye-icon-container {
    position: absolute;
    right: 2.5%;
    cursor: pointer;
    color: lightgray;
}
.eye-icon {
    font-size: 22.5px;
    color: gray;
}
.confirm-pass-change-btn {
    background: none;
    width: 100%;
    height: 48px;
    transition: 0.3s;
}
.confirm-pass-change-btn:hover {
    background: none;
    color: gray;
}
.confirm-pass-change-btn:active {
    background: none!important;
    color: gray!important;
}
.confirm-pass-change-btn:disabled {
    color: gray!important;
    border-color: gray!important;
    background: none;
    cursor: not-allowed!important;
    pointer-events: auto;
}
.btn-close:focus {
    box-shadow: none;
}