.offcanvas-header {
    color: white;
    font-weight: 700;
}
.form-check-input:focus {
    box-shadow: none!important;
    border-color: gray;
}
.form-check-input:checked {
    background-color: gray;
    border-color: gray;
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%272%27 fill=%27%2315202A%27/%3e%3c/svg%3e") !important;
}
.form-check-input {
    color: white!important;
    background-color: unset;
    border: 1px solid gray;
}
.form-check-input {
    float: right!important;
    margin-top: auto;
    margin-bottom: auto;
}
.form-check {
    height: 100%;
    width: 100%;
}
.form-check-label {
    display: block;
}